@mixin bottom-md-box-shadow {
  box-shadow: 0 0.5px 1.3px rgba(0, 0, 0, 0.014),
  0 1.3px 3.1px rgba(0, 0, 0, 0.02),
  0 2.4px 5.8px rgba(0, 0, 0, 0.025),
  0 4.2px 10.3px rgba(0, 0, 0, 0.03),
  0 7.9px 19.2px rgba(0, 0, 0, 0.036),
  0 19px 46px rgba(0, 0, 0, 0.05);
}

@mixin center-md-box-shadow {
  box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.022),
  0 0px 1px rgba(0, 0, 0, 0.032),
  0 0px 1.9px rgba(0, 0, 0, 0.04),
  0 0px 3.4px rgba(0, 0, 0, 0.048),
  0 0px 6.3px rgba(0, 0, 0, 0.058),
  0 0px 15px rgba(0, 0, 0, 0.08);
}

@mixin center-md-blue-box-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
  box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
}

@mixin standart-input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 2px solid $df-light-black;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #4f565d;
  transition: .3s;

  &:focus {
    border-color: $df-blue-color;
  }
}
