//Global mixins

@mixin bottom-md-box-shadow {
  box-shadow: 0 0.5px 1.3px rgba(0, 0, 0, 0.014),
  0 1.3px 3.1px rgba(0, 0, 0, 0.02),
  0 2.4px 5.8px rgba(0, 0, 0, 0.025),
  0 4.2px 10.3px rgba(0, 0, 0, 0.03),
  0 7.9px 19.2px rgba(0, 0, 0, 0.036),
  0 19px 46px rgba(0, 0, 0, 0.05);
}

@mixin bottom-lr-box-shadow {
  box-shadow: 0px 0.2px 0.7px rgba(0, 0, 0, 0.031),
  0px 0.6px 1.7px rgba(0, 0, 0, 0.044),
  0px 1.2px 3.4px rgba(0, 0, 0, 0.056),
  0px 2.6px 6.9px rgba(0, 0, 0, 0.069),
  0px 7px 19px rgba(0, 0, 0, 0.1);
}

@mixin center-md-box-shadow {
  box-shadow: 0 0px 0.4px rgba(0, 0, 0, 0.022),
  0 0px 1px rgba(0, 0, 0, 0.032),
  0 0px 1.9px rgba(0, 0, 0, 0.04),
  0 0px 3.4px rgba(0, 0, 0, 0.048),
  0 0px 6.3px rgba(0, 0, 0, 0.058),
  0 0px 15px rgba(0, 0, 0, 0.08);
}

@mixin center-lg-box-shadow {
  box-shadow: 0px 0px 0.3px rgba(0, 0, 0, 0.014),
  0px 0px 0.8px rgba(0, 0, 0, 0.02),
  0px 0px 1.5px rgba(0, 0, 0, 0.025),
  0px 0px 2.7px rgba(0, 0, 0, 0.03),
  0px 0px 5px rgba(0, 0, 0, 0.036),
  0px 0px 12px rgba(0, 0, 0, 0.05);
}

@mixin center-md-blue-box-shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
  box-shadow: 0px 0px 3px 0px rgba(37, 117, 241, 1);
}

@mixin center-lg-blue-box-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(37, 117, 241, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(37, 117, 241, 1);
  box-shadow: 0px 0px 2px 0px rgba(37, 117, 241, 1);
}

@mixin center-md-green-box-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(20, 170, 110, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(20, 170, 110, 1);
  box-shadow: 0px 0px 5px 0px rgba(20, 170, 110, 1);
}

@mixin center-lg-green-box-shadow {
  -webkit-box-shadow: 0px 0px 8px -2px rgba(20, 170, 110, 1);
  -moz-box-shadow: 0px 0px 8px -2px rgba(20, 170, 110, 1);
  box-shadow: 0px 0px 8px -2px rgba(20, 170, 110, 1);
}

@mixin right-md-box-shadow {
  box-shadow: -7px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 2px 15px 1px rgba(0, 0, 0, 0.75);
}

@mixin std-input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 2px solid $df-light-black;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #4f565d;
  transition: .3s;

  &:focus {
    border-color: $df-blue-color;
  }

  &:hover:not(:focus) {
    background-color: #f6f6f6;
  }

  &.has-error {
    @include std-input-has-error;
  }

  &::placeholder {
    color: #a6abaf;
  }
}

@mixin std-input-has-error {
  border-color: $df-very-light-red-color;
  border-radius: 4px 4px 0 0;
}

//Custom mixins

@mixin user-actions-content {
  .title {
    font-size: 13px;
    font-weight: 400;
    color: $df-mdl-dark-black-color;
    margin-bottom: 10px;
  }

  .content {
    .data-field-container {
      margin: 10px 0;

      input {
        @include std-input;
      }
    }

    .terms-info {
      font-weight: 200;
      font-size: 13px;
      color: $df-dark-blue-color;

      .terms-link {
        color: $df-blue-color;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .continue-btn {
      margin-top: 25px;
    }
  }

  @media only screen and (max-width: 900px) {
    .content {
      .terms-info {
        font-size: 12px;
      }
    }
  }
}

@mixin create-vote-popup-form-item {
  .form-item {
    margin-bottom: 20px;

    .title {
      font-weight: 500;
      margin-bottom: 5px;
      color: $df-dark-blue-color;
    }

    .content {
      .content-text {
        @include std-input;
      }
    }

  }
}

@mixin dashboard-team-home-contents {
  .home-content {
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 100%;

    > .title {
      font-weight: 500;
      font-size: 17px;
      color: $df-dark-blue-color;
    }

    .content {
      @include center-lg-box-shadow;
      height: 100%;
      padding: 15px;
      border-radius: 8px;
      margin-top: 10px;

      .content-title {
        font-weight: 400;
        font-size: 14px;
        color: #616f79;
      }
    }
  }
}

@mixin text-length-limit {
  word-wrap: break-word;
  word-break: break-word;
}

@mixin text-width-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin button-disable {
  background-color: $df-light-black !important;
  color: #8C8C8C !important;
  cursor: default !important;
  pointer-events: none !important;
}
