$df-blue-color: #2575f1;
$df-blue-color-hover-dark: #1d6ce7;
$df-blue-color-hover-light: #5196ff;
$df-dark-blue-color: #02273D;
$df-light-blue-color: #3DABF6;
$df-very-light-blue-color: #f1f4fa;
$df-green-color: #14AA6E;
$df-light-green-color: #18be7c;
$df-dark-green-color: #109d65;
$df-light-black: #e2e4e7;
$df-red-color: #e72828;
$df-very-light-red-color: #ffeeee;
$df-mdl-dark-black-color: #6e6e6e;
$df-light-dark-black-color: #838383;

$df-mobile-width: 900px;

$df-dsktp-lr-width-pdn: 20px;
$df-mbl-lr-width-pdn: 10px;
