html, body, #app {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
