html, body, #app {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  max-width: 1500px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
